@font-face {
    font-family: "MB";
    src: url(../fond/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "MR";
    src: url(../fond/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "MM";
    src: url(../fond/Montserrat-Medium.ttf);
}